{
	"bot": {
		"prefix": "db!",
		"token": "BOT TOKEN",
		"id": "BOT ID",
		"commandLogging": true,
		"messageLogging": true,
		"status": {
			"mode": "dnd"
		}
	},
	"server": {
		"invite": "TJY6Xyg"
	},
	  "siteUrl": "https://localhost",
	  "port": "3000"
}
