<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= SiteName %></title>
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true" type="image/x-icon">
</head>
<body>
  <div class="title">
    <br>
    <br>
    <img class="alive" src="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true">
    <h1><strong><%= SiteName %></strong></h1>
    <h3>The simple yet powerful open source discord bot!</h3>
  </div>
  <div class="content">
    <a href="/s/join">
      <div class="roundedButton accentColor1">
        Support server
      </div>
    </a>
    <a href="/api/git">
      <div class="roundedButton github">
        Github
      </div>
    </a>
    <div class="container">
      <a class='dbtn' href="/api/all/info">
        Info/Stats
      </a>
    </div>
  </div>
</body>
</html>

