body {
    background: radial-gradient(circle,var(--bg-1) 0,var(--bg-2) 100%)!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Whitney-Semibold Regular,Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
} /*https://github.com/dxy-Seer/dbot-template*/
h1 {
    margin: 10px 0;
    font-size: 56px !important;
    color: var(--primary);
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--primary);
} 
.title {
    text-align: center;
}
.title img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background: radial-gradient(circle,var(--bg-2) 0,var(--bg-1) 100%)!important;
}
.title img.alive{
    background-color: #ff0000;
    -webkit-box-shadow: inset 0px 0px 6px -1px hsla(0, 80%, 40%, 1);
    -moz-box-shadow: inset 0px 0px 6px -1px hsla(0, 80%, 40%, 1);
    -o-box-shadow: inset 0px 0px 6px -1px hsla(0, 80%, 40%, 1);
    box-shadow: inset 0px 0px 6px -1px hsla(0, 80%, 40%, 1);
    opacity: 1;
    -webkit-animation: header_NotificationCircle_ANIM 1.0s infinite ease-in-out;
    -moz-animation: header_NotificationCircle_ANIM 1.0s infinite ease-in-out;
    -o-animation: header_NotificationCircle_ANIM 1.0s infinite ease-in-out;
    animation: header_NotificationCircle_ANIM 1.0s infinite ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.title img.error{
    background-color: #ff0000;
    -webkit-box-shadow: inset 0px 0px 6px -1px hsla(0, 80%, 40%, 1);
    -moz-box-shadow: inset 0px 0px 6px -1px hsla(0, 80%, 40%, 1);
    -o-box-shadow: inset 0px 0px 6px -1px hsla(0, 80%, 40%, 1);
    box-shadow: inset 0px 0px 6px -1px hsla(0, 80%, 40%, 1);
    opacity: 1;
    -webkit-animation: header_NotificationCircle_ANIM_err 1.0s infinite ease-in-out;
    -moz-animation: header_NotificationCircle_ANIM_err 1.0s infinite ease-in-out;
    -o-animation: header_NotificationCircle_ANIM_err 1.0s infinite ease-in-out;
    animation: header_NotificationCircle_ANIM_err 1.0s infinite ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.title img.api{
    background-color: #1CFF00;
    -webkit-box-shadow: inset 0px 0px 6px -1px #1CFF00;
    -moz-box-shadow: inset 0px 0px 6px -1px #1CFF00;
    -o-box-shadow: inset 0px 0px 6px -1px #1CFF00;
    box-shadow: inset 0px 0px 6px -1px #1CFF00;
    opacity: 1;
    -webkit-animation: header_NotificationCircle_ANIM_api 1.0s infinite ease-in-out;
    -moz-animation: header_NotificationCircle_ANIM_api 1.0s infinite ease-in-out;
    -o-animation: header_NotificationCircle_ANIM_api 1.0s infinite ease-in-out;
    animation: header_NotificationCircle_ANIM_api 1.0s infinite ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
@-webkit-keyframes header_NotificationCircle_ANIM_api {
    0% {
      -webkit-box-shadow: 0 0 0 0 #1CFF00;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px hsla(0, 80%, 40%, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0);
    }
  }
  @keyframes header_NotificationCircle_ANIM_api {
    0% {
      -moz-box-shadow: 0 0 0 0 #1CFF00;
      box-shadow: 0 0 0 0 #1CFF00;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px hsla(0, 80%, 40%, 0);
        box-shadow: 0 0 0 10px hsla(0, 80%, 40%, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0);
        box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0);
    }
  }
@-webkit-keyframes header_NotificationCircle_ANIM_err {
    0% {
      -webkit-box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0.8);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px hsla(0, 80%, 40%, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0);
    }
  }
  @keyframes header_NotificationCircle_ANIM_err {
    0% {
      -moz-box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0.8);
      box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0.8);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px hsla(0, 80%, 40%, 0);
        box-shadow: 0 0 0 10px hsla(0, 80%, 40%, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0);
        box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0);
    }
  }
  @-webkit-keyframes header_NotificationCircle_ANIM {
    0% {
      -webkit-box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0.8);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px hsla(0, 80%, 40%, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0);
    }
  }
  @keyframes header_NotificationCircle_ANIM {
    0% {
      -moz-box-shadow: 0 0 0 0 #49a1ff;
      box-shadow: 0 0 0 0 #49a1ff;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px hsla(0, 80%, 40%, 0);
        box-shadow: 0 0 0 10px hsla(0, 80%, 40%, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0);
        box-shadow: 0 0 0 0 hsla(0, 80%, 40%, 0);
    }
  }
/* @-webkit-keyframes header_NotificationCircle_ANIM {
    0%, 40%, 80%, 100% {
      -webkit-transform: scale(1.5);
    } 20%, 60% {
      -webkit-transform: scale(1);
    }
  }
  @-moz-keyframes header_NotificationCircle_ANIM {
    0%, 40%, 80%, 100% {
      -moz-transform: scale(1.5);
    } 20%, 60% {
      -moz-transform: scale(1);
    }
  }
  @-o-keyframes header_NotificationCircle_ANIM {
    0%, 40%, 80%, 100% {
      -o-transform: scale(1.5);
    } 20%, 60% {
      -o-transform: scale(1);
    }
  }
  @keyframes header_NotificationCircle_ANIM {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    } 20%, 60% {
      transform: scale(1.5);
    }
  }  */
  
/* Buttons */
.roundedButton {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--font) !important;
    background-color: var(--font);
    border: 1px solid transparent;
    border-color: var(--font);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    user-select: none;
    text-decoration: none;
    opacity: 1;
}
.roundedButton > img,
.roundedButton > svg {
    width: 1em;
    height: 1em;
    object-fit: contain;
    margin-right: 10px;
    transform: scale(1.25);
}
.roundedButton.bold {
    font-weight: 700;
}
.roundedButton.big {
    font-size: 1.15em;
}
.roundedButton.caps {
    text-transform: uppercase;
}
.roundedButton:hover {
    color: #fff;
}
.roundedButton.accentColor1 {
    border-color: var(--accent);
    background-color: var(--accent);
    color: var(--color);
}
.roundedButton.accentColor1:hover {
    background-color: #3d8adb;
    color: var(--color);
}
.roundedButton.github {
    transition: .5s;
    border-color: #6640c0;
    background: radial-gradient(circle,#6e5494 0,#4078c0 100%)!important;
    color: var(--color);
}
.roundedButton.github:hover {
    background: radial-gradient(circle,#4078c0 0,#6e5494 100%)!important;
    color: var(--color);
}
.content {
    text-align: center;
}
.dbtn {
    background: #7289DA;
    padding: 0 20px;
    line-height: 35px;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-sefir;
    font-size: 20px;
    display: block;
    text-decoration: none;
    border-radius: 3px;
}
.container {
    display: flex;
    width: 100%;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
}