<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DBOS - 404</title>
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true" type="image/x-icon">
</head>
<body>
  <div class="title">
    <img src="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true">
    <h1>404</h1>
    <h3>The requested page was not found.</h3>
  </div>
</body>
</html>

